@model UsersViewModel
<!-- Light table -->
<div id="user-table">
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Department</th>
                    <th scope="col">Is Confirmed</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="list">
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <th scope="row">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <span class="name mb-0 text-sm">@user.Name</span>
                                </div>
                            </div>
                        </th>
                        <th scope="row">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <span class="name mb-0 text-sm">@user.Email</span>
                                </div>
                            </div>
                        </th>
                        <th scope="row">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <span class="name mb-0 text-sm">@user.Department.Name</span>
                                </div>
                            </div>  
                        </th>
                        <th scope="row">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <span class="name mb-0 text-sm">
                                        @(user.EmailConfirmed ? "Confirmed" : "Not Confirmed")
                                    </span>
                                </div>
                            </div>
                        </th>
                        <th>
                            <!-- Manage icon with link to show user details -->
                            <a href="@Url.Action("Details", new { userId = user.Id })" class="btn btn-primary">
                                Manage
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Table Pagination -->
    <div class="card-footer py-4">
        <nav aria-label="...">
            <ul class="pagination justify-content-end mb-4">
                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, pageSize = Model.PageSize })" tabindex="-1">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = Model.PageSize })">@i</a>
                    </li>
                }
                <li class="page-item @(Model.PageNumber == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, pageSize = Model.PageSize })">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>