@model ApplicationUser
<style>
    tr {
        border-bottom: none;
    }
</style>
<div class="card">
    <div class="container">
        <table class="table align-items-center table-flush">
            <tbody class="list">
                <tr scope="row">
                        <td>
                            Name:
                        </td>
                        <td>
                            @Model.Name
                        </td>
                        <th>
                            <a href="" class="btn btn-primary" onclick="onChangeName();">Change</a>
                        </th>
                    </tr>
                <tr scope="row">
                    <td>
                        Email:
                    </td>
                    <td>
                        @Model.Email
                    </td>
                    <th>
                        <a href="" class="btn btn-primary" onclick="onChangeEmail();">Change</a>
                    </th>
                </tr>
                <tr scope="row">
                    <td>
                        Department:
                    </td>
                    <td>
                        @Model.Department.Name
                    </td>
                    <th>
                        <a href="" class="btn btn-primary" onclick="onChangeDeparment();">Change</a>
                    </th>
                </tr>
                </tbody>
            </table>
        <div class="card text-center">
            <div class="card-header">
                Roles
            </div>
            <div class="card-body">
                @* <h5 class="card-title">Special title treatment</h5> *@
                <a href="#" class="btn btn-primary">User</a>
                <a href="#" class="btn btn-outline-primary">Manager</a>
            </div>
        </div>
            </div>
</div>

<!-- Bootstrap Models -->
<!-- Edit User Model -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" data-url='@Url.Action("Edit")'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
<!-- Manage Role Model -->
<div class="modal fade" id="manageRolesModal" tabindex="-1" role="dialog" data-url='@Url.Action("ManageRoles","Roles")'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Manage Roles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
@section Breadcrumbs{
    <div class="col-lg-6 col-7">
        <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                    <a href="#">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Dashboards</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Default</li>
            </ol>
        </nav>
    </div>
}
    @section Scripts {
    <script>
        $(document).ready(function () {
            function handleEditLinkClick() {
                var url = $("#editModal").data('url');
                var userId = $(this).data("id");
                // Make an AJAX request to load the employee data
                $.ajax({
                    type: "GET",
                    url: url, // Replace with your actual action method
                    data: { userId: userId },
                    success: function (view) {
                        $("#editModal .modal-body").html(view);
                        $("#editModal").modal("show");
                        $.validator.unobtrusive.parse($("#editForm"));
                    },
                    error: function () {
                        console.error("Error loading user data");
                    }
                });
            }
            function handleMangeRolesLinkClick() {
                var url = $("#manageRolesModal").data('url');
                var userId = $(this).data("id");
                // Make an AJAX request to load the employee data
                $.ajax({
                    type: "GET",
                    url: url, // Replace with your actual action method
                    data: { userId: userId },
                    success: function (view) {
                        $("#editModal .modal-body").html(view);
                        $("#editModal").modal("show");
                        $.validator.unobtrusive.parse($("#editForm"));
                    },
                    error: function () {
                        console.error("Error loading user data");
                    }
                });
            }
            // Event handlers
            // Edit handler
            $(".edit-link").on("click", handleEditLinkClick);

            // Manage roles handler
            $(".manageRoles-link").on("click", handleMangeRolesLinkClick);

        });
    </script>
}
