<!DOCTYPE html>
<html>
<head>
    <partial name="_PageHeadElement"/>
    
    @RenderSection("Styles", required: false)
    @RenderSection("HeadScripts", required: false)
</head>
<body class="bg-default">
    <div class="main-content">
        <partial name="Auth/_Navbar"/>
        @RenderSection("IdentityHeader", false)
        <!-- Page content -->
 
        <div class="col-lg-5 col-md-7">
            <!-- Page content -->
            @RenderBody()
        </div>
        <partial name="Auth/_Footer"/>
    </div>

    <partial name="_ThemeScripts"/>

    @RenderSection("Scripts", required: false)
</body>
</html>
